/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class] { /*existence*/
  color: var(--red);
}

li[class*='do']{ /*substring*/
  color: var(--royalblue)
}

li[class$='g'] { /*subfix*/
  color: var(--violet);
}

li[id='cat']{ /*equality*/
  color: var(--teal);
}

li[class^='p']{ /*prefix*/
  color: var(--green);
}

/* Use descendant, child, and sibling selectors for the second part */

section li { /*any descendent of type li of section*/
  color: var(--green);
}

.list-food li {
  color: var(--green);
}

.first + li{
  color: var(--darkmagenta);
}

.second ~ li { /*all siblings of second class*/
  color: var(--darkmagenta);
}

.second + li { /*second class's immediate sibling*/
  color: var(--royalblue);
}

.list-cleaning li {
  color: var(--green);
}
